:root {
  --bg-dark: #0f1117;
  --accent-cyber: #3ea8ff;
  --text-light: #cde4ff;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: var(--bg-dark);
  color: var(--text-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

input,
button,
select {
  margin: 8px;
  padding: 10px;
  font-size: 16px;
  background: #1c1f2b;
  border: 2px solid var(--accent-cyber);
  color: var(--text-light);
  border-radius: 4px;
}

button:hover,
select:hover {
  background: var(--accent-cyber);
  color: #1c1f2b;
  transform: scale(1.05);
}

#canvasContainer {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin: 20px 0;
}

canvas {
  border: 2px solid var(--accent-cyber);
  box-shadow: 0 0 10px var(--accent-cyber);
  max-width: 300px;
}

pre {
  background: #13161d;
  border: 1px solid #333;
  padding: 10px;
  width: 90%;
  max-height: 200px;
  overflow-y: auto;
  font-size: 0.9em;
  white-space: pre-wrap;
}

#loader {
  position: fixed;
  inset: 0;
  background: var(--bg-dark);
  color: var(--text-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#progressBar {
  width: 300px;
  height: 10px;
  border: 1px solid var(--accent-cyber);
  margin-top: 20px;
}

@keyframes fill {
  to {
    width: 100%;
  }
}
